:root {
    background-attachment: fixed;
    background-color: #eec373;
    background-repeat: no-repeat;
}

body {
    background-color: #f4dFba;
    border: 3px solid black;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
footer {
    line-height: 1;
}

.right-align {
    text-align: right;
}
