:root {
    background-color: #EDC9AF;
}

body {
    border: 3px dashed black;
    font-family: "Cousine", monospace;
    line-height: 2;
    margin: 20px auto;
    padding: 20px;
}
footer {
    line-height: 1;
}

.right-align {
    text-align: right;
}
